.button {
	border: 1px solid #a1a1a1;
	background-color: #FFFFFF;
	padding: 4px;
	cursor: pointer;
	border-radius: 4px;
}

.button [type="submit"],
.button [type="button"] {
	border: 0px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.notice_tr,
.bg1,
.bg2 {
	height: 35px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
}

.notice_tr td,
.bg1 td,
.bg2 td {
	vertical-align: middle;
}
